{% extends 'events/base.html' %}

{% load url from future %}

{% block title %}{{ event }}{% endblock %}

{% block contents %}
<div class="span12">
  <h1>{{ event }}</h1><br>
  <ul class="breadcrumb">
    <li>
      <a href="{% url 'event_admin_view' pk=event.pk %}">{{ event }}</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="{% url 'event_cabins' event=event.pk %}">Cabin assignment</a> <span class="divider">/</span>
    </li>
    <li>
      <a href="{% url 'event_new_players' event=event.pk %}">New Players</a> <span class="divider">/</span>
    </li>
  </ul>
</div>

<div class="span12">
  <table class="table table-striped">
    <tr>
      <th>Player Name</th>
      <th>Character</th>
      <th>Headers</th>
      <th>Factions</th>
      <th>Professions</th>
    </tr>
  {% for reg in regs %}
    <tr>
      <td>{{ reg.user.first_name }} {{ reg.user.last_name }}</td>
      <td><a href="{% url 'condenser_char_view' slug=reg.char.slug %}">{{ reg.char.name }}</a></td>
      <td>{% for header in reg.char.headers.all %}{{ header }}{% endfor %}</td>
      <td>{% for faction in reg.char.factions.all %}{{ faction }}{% endfor %}</td>
      <td>{% for profession in reg.char.professions.all %}{{ profession.profession }}{% endfor %}</td>
    </tr>
    <tr>
      <td style="text-align:right">Starting Gear:</td><td colspan="4">{% for faction in reg.char.factions.all %}{{ faction.faction.start_gear }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
    </tr>
  {% endfor %}

  </table>
</div>

{% endblock %}
