{% extends 'condenser/base.html' %}

{% load url from future %}
{% load bootstrap %}

{% block title %}Player list{% endblock %}

{% block contents %}

<div class="span12">
	<input type="checkbox" value='X' id="filter_unapproved"> Show only unappoved backgrounds
<br><br>
	<table class="table-striped table" id="player-list">
		<thead>
			<tr>
				<th>Real Name</th>
				<th>Email</th>
				<th>XP</th>
				<th>Current Char</th>
				<th>Build</th>
				<th>BG</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for player in players %}
			<tr id="{{ player.pk }}">
				<td><a href="{% url 'condenser_player_staff_view' slug=player.username %}">{{ player.first_name }} {{ player.last_name }}</a></td>
				<td><a href="mailto:{{ player.email }}">{{ player.email }}</a></td>
				<td class="eeps">{{ player.eepsbank.eeps }}
				{% with player.personalprofile.get_current_char as char %}
				<td>{% if not player.is_staff and not player.is_superuser %}
						{% if char.slug %}<a href="{% url 'condenser_char_view' slug=char.slug %}">{{ char }}</a> {% if char.is_updated %}<span class="label label-warning">Updated</span>{% endif %}
						{% if player.personalprofile.get_prev_char.count %}
						<span class="dropdown"  id="{{ player.username }}-chars"><a data-target="#{{ player.username }}-chars" class="dropdown-toggle" data-toggle="dropdown" href="#">
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
						    {% for char in player.personalprofile.get_prev_char %}
						    	{% if char.is_deceased or char.is_retired %}
							    	<li><a href="{% url 'condenser_char_view' slug=char.slug %}">{{ char }}</a></li>
						    	{% endif %}
						    {% endfor %}
						  </ul></span>
					  {% endif %}
					  {% else %}{{char}}{% endif %}
				{% else %}Staff{% endif %}

				</td>
				<td>{% if not player.is_staff and not player.is_superuser %}{{ char.build_spent }}{% endif %}</td>
				<td>{% if not player.is_staff and not player.is_superuser %}
					{% if char.background and not char.background_approved %}X{% endif %}

				{% endif %}</td>

				{% endwith %}
				<td>
					<div class="dropdown pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
	                    <ul class="dropdown-menu">
	                        {% if user.is_superuser %}<li><a data-name="{{ player.get_profile.display_name }}" data-action="{% url 'condenser_player_grant_eeps' slug=player.username %}" class="give-xp-dialog">Give XP</a></li>{% endif %}
	                        {% if user.is_superuser %}<li><a data-name="{{ player.get_profile.display_name }}" data-action="{% url 'condenser_player_events' slug=player.username %}" class="event-reg-dialog">Set event reg.</a></li>{% endif %}
	                    </ul>
	                </div>
                </td>

			</tr>
		{% endfor %}
		</tbody>

	</table>

</div>

<div id="eeps-popup" class="modal fade hide">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Modal header</h3>
	</div>
	<div class="modal-body">
		<form id="give-eeps-form" class="form-horizontal" method="POST" action="">
			<fieldset>
			<h3>EEPS for <span class="player-name"></span></h3>
			<div class="control-group eeps-group">
				<label class="control-label">Eeps</label>
				<div class="controls">
					<input type="text" name="eeps" id="eeps-input">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Reason</label>
				<div class="controls">
					<textarea name="reason" id="reason-input"></textarea>
				</div>
			</div>
			{% csrf_token %}
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary save">Save</a>
		<a href="#" class="btn save stay">Save and add more</a>
		<a href="#" class="btn cancel">Cancel</a>
	</div>

</div>

<div id="reg-popup" class="modal fade hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Modal header</h3>
    </div>

    <div class="modal-body">reg the player</div>

    <div class="modal-footer">
        <a href="#" class="btn btn-primary save">Save</a>
        <a href="#" class="btn cancel">Cancel</a>
    </div>
</div>

{% endblock %}

<script type="text/javascript">
{% block extra-js %}

	var oTable = $('#player-list').dataTable({ 
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"sPaginationType": "bootstrap",
		"bStateSave": true
        
	});

	$('#filter_unapproved').change( function () {
			if( $(this).attr('checked') ) {
	            oTable.fnFilter( $(this).val(), 5 );
	            } else {
	            	oTable.fnFilter( '', 5 );
	            }
    } );

    $('.modal').on('click','.btn.cancel', function(e) {
        $(e.target).parents('.modal').modal('hide');
    });

    $('#player-list').on('click', '.give-xp-dialog', function(e) {
    	$('#eeps-popup').find('.control-group').removeClass('error');
    	$('#give-eeps-form').attr('action', $(e.target).attr('data-action'));
    	$('#give-eeps-form').find('.player-name').html($(e.target).attr('data-name'));
    	$('#eeps-popup .btn').removeAttr('disabled');
    	$('#eeps-popup').modal('show');
    });

    $('#player-list').on('click', '.event-reg-dialog', function(e) {
        $target = $(e.target);
        $popup = $('#reg-popup');
        $body = $popup.find('.modal-body');
        $body.html('loading');

        $.ajax($target.attr('data-action'),{
                type: 'GET',
                //data: data,
                dataType: 'json',
                success: function(data) {
                    $form = $('<form method="POST"></form>');
                    $form.attr('action', $target.attr('data-action'));
                    $fieldset = $('<fieldset></fieldset>');
                    $form.append($fieldset);
                    $fieldset.append('<h3>Event Registrations for <span class="player-name">' + $target.attr('data-name') + '</span></h3>')

                    data.forEach( function(val, idx) {
                        $grp = $('<div class="control-group event-group"></div>');
                        $label =  $('<label class="control-label">' + val.name + '</label>');
                        $grp.append($label);
                        $ctrls = $('<div class="controls"></div>');
                        
                        $input = $('<select name="event[' + val.pk + ']" id="event-select-' + val.pk + '"><option value="">----------</option></select>');
                        val.options.forEach(function(option, idx) {
                            $option = $('<option value="' + option.pk +'">' + option.name +'</option>');
                            if(option.pk == val.set_as) { $option.attr('selected','selected'); }
                            $input.append($option);
                        });

                        $ctrls.append($input);
                        $grp.append($ctrls);

                        $fieldset.append($grp);
                
                    
                
            
                    });

                
                    $body.html($form);
                }
            });

        $popup.modal('show');
    });

    $('#reg-popup').on('click', '.save', function(e) {
        form = $('#reg-popup').find('form').first();
        data = form.serialize();
        $('#reg-popup .btn').attr('disabled','disabled');        


        $.ajax(form.attr('action'),{
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function(data) {
                    $('#reg-popup .btn').removeAttr('disabled');
                    $('#reg-popup').modal('hide');
                }
            });

    });

    $('#eeps-popup').on('click', '.save', function(e) {
	    

	    
    	form = $('#give-eeps-form')
    	
    	if(form.find('#eeps-input').val() != parseInt(form.find('#eeps-input').val())){
    		form.find('.eeps-group').addClass('error');
    		return false;
    	}

    	data = form.serialize();

    	$('#eeps-popup .btn').attr('disabled','disabled');
    	$.ajax(form.attr('action'),{
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function(data) {
                	form.find('#eeps-input').val(0);
                	form.find('#reason-input').val('');
                    if($(e.target).hasClass('stay')) {
                    	$('#eeps-popup .btn').removeAttr('disabled');
                    } else {

                    	$('#eeps-popup').modal('hide');
                    }
                    $('#'+data.pk).find('.eeps').html(data.eeps)
                }
            });
    });

{% endblock %}
</script>
