{% extends 'condenser/base.html' %}

{% load url from future %}
{% load bootstrap %}

{% block title %}Player: {{ player.get_profile.display_name }}{% endblock %}

{% block contents %}
<div class="span6">
<table class="table table-striped">
    <tr><th>Amount</th><th>Reason</th><th>When</th></tr>
    {% for eppsrecord in records %}
    <tr id="{{ eepsrecord.pk }}"><td>{{ eepsrecord.eeps }}</td><td>{{ eepsrecord.reason }}</td><td>{{ eepsrecord.when }}</td></tr>

    {% endfor %}

</table>
</div>
{% endblock %}