<div class="char-sheet">
    <div class="char-name">{{ char.name }}</div><div class="build">Build Spent: {{ char.build_spent }}</div>
    <div class="player-name">Played by: {{ char.user.first_name }} {{ char.user.last_name}}</div>
<br>
    <table class="body-table" ><tr>
        <td  valign=top>
        <div class="stats">
            <table class="table attr-table">
                <tr>
                    <th>Blood</th>
                    <th>Might</th>
                    <th>Mind</th>
                    <th>Finesse</th>
                    <th>Will</th>
                </tr>
                <tr>
                    <td>{{ char.blood }}</td>
                    <td>{{ char.might }}</td>
                    <td>{{ char.mind }}</td>
                    <td>{{ char.finesse }}</td>
                    <td>{{ char.will }}</td>
                </tr>
            </table>
        </div>
    
        <div class="skills">
            <table class="table table-striped skill-table">
                <tr>
                    <th width=60%>Skill</th><th>Activation</th>
                </tr>

                    {% for skill in char.skills.all %}
                    <tr><td>{{ skill.skill.name }}</td><td>{{ skill.skill.activation }}</td></tr>
                    {% endfor %}
                
            </table>
        </div>
        </td>
        <td valign=top>

            <table class="memb-table table striped">
                <tr><th valign="top">Faction:</th><td>
                    <ul>
                        {% for faction in char.factions.all %}
                        <li>{{ faction.faction }}</li>
                        {% endfor %}
                    </ul>
                </td></tr>
                <tr><th valign="top">Header:</th><td>
                    <ul>
                        {% for header in char.headers.all %}
                        <li>{{ header }}</li>
                        {% endfor %}
                    </ul>
                </td></tr>
                <tr><th valign="top">Professions:</th><td>
                    <ul>
                        {% for profession in char.professions.all %}
                        <li>{{ profession.profession }} ( {{ profession.score }} )</li>
                        {% endfor %}
                    </ul>
                </td></tr>
                </table>
<br><br>
                <table class="table striped">
                    <tr><th>Prof. Action</th><th width="10%">PP</th></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>
                    <tr><td>&nbsp;</td><td></td></tr>

                    

                </table>

        </td>
    </tr></table>

    </div>




</div>