{% load url from future %}
{% load bootstrap %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert-message {% if message.tags %}{{ message.tags }}{% endif %}">
                        <a class="close" href="#">×</a>
                        <p><strong>{{ message }}</strong></p>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    <div class="char">
        <h2 class="char_name">{{ char.name }} 
            {% if char.is_new %}<span class="label success">new</span>{% endif %}
            {% if char.is_npc %}<span class="label notice">npc</span>{% endif %}
            {% if char.is_retired %}<span class="label important">retired</span>{% endif %}
            {% if char.is_deceased %}<span class="label important">deceased</span>{% endif %}
        </h2>
        <span class="spent_build upper-right"> Spent build: <span class="spent-build-total">{{ char.build_spent }}</span></span>
        <span class="free_build upper-right"> Free build: <span class="free-build-total">{{ char.free_build }}</span></span>
        <h3>( {% for faction in char.factions.all %}{% if not forloop.first %}, {% endif%}{{ faction }}{% endfor %} )</h3>

        <h3>Attributes:</h3>
        <div class="attr_block">
            {% include 'condenser/char_view_attr.html' %}    
        </div>

        {% for header in char.headers.all %}
            <h4>{{ header }}</h4>
            <p>Header Ability: {{ header.ability }}</p>

        {% endfor %}
        
        <h3>Skills</h3>
        <table>
                <tr>
                    <th width="60%">Name</th><th>Activation</th>
                    <th align="right">{% if char.user == user or user.is_staff or user.is_superuser %}<a data-controls-modal="skills-popup" data-backdrop="static">Add new skill</a>{% endif %}</th>
                </tr>
        {% for skill in char.skills.all %}
                <tr>
                    <td><span rel="popover" data-content="{{ skill.description }}  {{ skill.game_effects }}">{{ skill }}</span></td>
                    <td colspan="2">{% if skill.activation %}{{ skill.activation }}{% else %}&nbsp;&nbsp;-{% endif %}</td>
                </tr>
        {% empty %}
        
        {% endfor %}
        </table>

        <div id="skills-popup" class="modal hide fade in" style="display: none">
            <div class="modal-header">

                <h3>Add new skills 
                    <span class="free_build for_skill_buy"> Free build: <span class="free-build-total">{{ char.free_build }}</span></span>
                </h3>
            </div>
            <div class="modal-body">
            <div class="skill_buy"><table>
                <tr>
                    <th width="60%">Skill Name</th>
                    <th>Cost</th>
                    <th width="10%"></th>
                </tr>
                {% for skill in char.available_skills %}
                {% with tags=skill.tags skill=skill.skill %}
                    {% include 'condenser/char_view_skillbuy_line.html' %}                
                {% endwith %}
                {% endfor %}
            </table></div>
            
            <script type="text/javascript">
                function buy_skill($id) {
                    $tr = $('tr#'+$id).first();

                    $cost = parseInt($tr.find('.skill-cost').first().text());
                    $name = $tr.find('.skill-name').first().text();
                    $url = $tr.attr('data-url');
                    
                    if($cost > parseInt($('.free-build-total').text()) ){ return false; }
                    if(!confirm('Are you sure you want to spend '+$cost+' points on ' + $name)) { return false; }
                    
                    
                    $.ajax($url, {
                        method: 'POST',
                        dataType: 'json',
                        success: function (data, textStatus, jqXHR) {
                            
                            $('.free-build-total').text(data.free_build);
                            $('.spent-build-total').text(data.build_spent);

                            $tr.after(data.row);
                            $tr.detach();
                        
                        }                    
                    });
                
                }
                    
            </script>
            </div>
            <div class="modal-footer"><a class="btn" onclick="window.location.reload(); $(this).parents('.modal').modal('hide');">Done</a></div>
        </div>

        {% if char.is_new %}<p><strong>Starting Gear:</strong> {% for faction in char.factions.all %}{{ faction.start_gear }}{% endfor %}</p>{% endif %}


    </div>