{% load url from future %}
<form action="{% url 'condenser_char_attr_adjust' slug=char.slug %}" method="POST">
{% if attr_error %}
<div class="alert-message error">
    <a class="close" href="#">×</a>
    <p><strong>{{ attr_error }}</strong></p>
</div>
{% endif %}

{% if attr_success %}
<div class="alert-message success">
    <a class="close" href="#">×</a>
    <p><strong>{{ attr_success }}</strong></p>
</div>
{% endif %}

<table class="attributes">
    {% if char.user == user or user.is_staff or user.is_superuser %}{% if char.free_build > char.blood or char.free_build > char.might or char.free_build > char.mind or char.free_build > char.finesse or char.free_build > char.will %}
        <tr>
            <th width="40%"></th>
            <th width="30%"></th>
            <th width="30%">New Value:</th>
        </tr>
    {% endif %}{% endif %}
        <tr class="char_attr" data-attr="blood">
            <td class="attr_name">Blood</td>
            <td class="attr_value">{{ char.blood }}</td>
            <td class="attr_buy">
                {% if char.user == user or user.is_staff or user.is_superuser %}
                {% if char.free_build > char.blood %}
                    {% if char.blood < 10 %}
                    <input type="hidden" class="buy_input" name="blood" value='0'>
                    <span class="to_buy">{{ char.blood }}</span>
                    <a class="btn" onclick="change_build('blood',-1);">-</a>
                    <a class="btn" onclick="change_build('blood',1);">+</a>
                    {% else %}Maxed out!{% endif %}
                {% endif %}
                {% endif %}
            </td>
            
        </tr>
        
        <tr class="char_attr" data-attr="might">
            <td class="attr_name">Might</td>
            <td class="attr_value">{{ char.might }}</td>
            <td class="attr_buy">
            {% if char.user == user or user.is_staff or user.is_superuser %}
                {% if char.free_build > char.might %}
                    {% if char.might < 10 %}
                    <input type="hidden" class="buy_input" name="might" value='0'>
                    <span class="to_buy">{{ char.might }}</span>
                    <a class="btn" onclick="change_build('might',-1);">-</a>
                    <a class="btn" onclick="change_build('might',1);">+</a>
                    {% else %}Maxed out!{% endif %}
                {% endif %}
            {% endif %}
            </td>
        </tr>
        
        <tr class="char_attr" data-attr="mind">
            <td class="attr_name">Mind</td>
            <td class="attr_value">{{ char.mind }}</td>
            <td class="attr_buy">
            {% if char.user == user or user.is_staff or user.is_superuser %}
                {% if char.free_build > char.mind %}
                    {% if char.mind < 10 %}
                    <input type="hidden" class="buy_input" name="mind" value='0'>
                    <span class="to_buy">{{ char.mind }}</span>
                    <a class="btn" onclick="change_build('mind',-1);">-</a>
                    <a class="btn" onclick="change_build('mind',1);">+</a>
                    {% else %}Maxed out!{% endif %}
                {% endif %}
            {% endif %}
            </td>
        </tr>
        
        
        <tr class="char_attr" data-attr="finesse">
            <td class="attr_name">Finesse</td>
            <td class="attr_value">{{ char.finesse }}</td>
            <td class="attr_buy">
            {% if char.user == user or user.is_staff or user.is_superuser %}
                {% if char.free_build > char.finesse %}
                    {% if char.finesse < 10 %}
                    <input type="hidden" class="buy_input" name="finesse" value='0'>
                    <span class="to_buy">{{ char.finesse }}</span>
                    <a class="btn" onclick="change_build('finesse',-1);">-</a>
                    <a class="btn" onclick="change_build('finesse',1);">+</a>
                    {% else %}Maxed out!{% endif %}
                {% endif %}
            {% endif %}
            </td>
        </tr>
        
        <tr class="char_attr" data-attr="will">
            <td class="attr_name">Will</td>
            <td class="attr_value">{{ char.will }}</td>
            <td class="attr_buy">
            {% if char.user == user or user.is_staff or user.is_superuser %}
                {% if char.free_build > char.will %}
                    {% if char.will < 10 %}
                    <input type="hidden" class="buy_input" name="will" value='0'>
                    <span class="to_buy">{{ char.will }}</span>
                    <a class="btn" onclick="change_build('will',-1);">-</a>
                    <a class="btn" onclick="change_build('will',1);">+</a>
                    {% else %}Maxed out!{% endif %}
                {% endif %}
            {% endif %}
            </td>
        </tr>
        
        <tr class="char_attr">
            <td></td>
            <td class="attr_buy total_box">{% if char.user == user or user.is_staff or user.is_superuser %}{% if char.free_build > char.blood or char.free_build > char.might or char.free_build > char.mind or char.free_build > char.finesse or char.free_build > char.will %}
                    Build Cost: <span class="cost_total">0</span>
                {% endif %} {% endif %}
            </td>
            <td>{% if char.user == user or user.is_staff or user.is_superuser %}{% if char.free_build > char.blood or char.free_build > char.might or char.free_build > char.mind or char.free_build > char.finesse or char.free_build > char.will %}
                    <input type="submit" value="Buy" class="btn primary" onclick="if(!confirm('Are you sure you want to spend ' + $('.cost_total').first().text() + ' build?')){ return false; }">
                {% endif %}{% endif %}
            </td>
        </tr>
</table>
{% csrf_token %}
</form>
<script type="text/javascript">
    function calc_build_cost($current, $end) {
        $start = parseInt($current) + 1;
        $end = parseInt($end);
        
        $term = ($end-$current)
        $factor = ($term)/2;
        $base = (2 * $start) + ($term - 1);
        return $factor * $base;
    }

    function change_build($attr, $amount) {
        if (Math.abs($amount) > 1) { return false; }
        
        $item_box = $('[data-attr='+$attr+'] td.attr_buy');
        $buy_input = $item_box.find('.buy_input').first();
        $current = parseInt($('[data-attr='+$attr+'] td.attr_value').text());
        
        // determine remaining build
        $buy_remaining = {{ char.free_build }}
        $('.buy_input').each(function () {
            $to_buy = $(this).val();
            $start = $current + 1;
            $end = parseInt($to_buy) + $current;
            $buy_remaining = $buy_remaining - calc_build_cost($current, $end);
        });
        
        if ( parseInt($buy_input.val())+$current > 9 && $amount > 0) { return false }
        if ( ($amount > 0 && $buy_remaining > (parseInt($buy_input.val())+$current) ) || ($amount < 0 && parseInt($buy_input.val())>0 ) ){
            $buy_input.val(parseInt($buy_input.val())+$amount);
            $item_box.find('.to_buy').text(parseInt($buy_input.val()) + $current);
            $total = $('.cost_total').first();
            if($amount > 0) {
                $total.text(parseInt($total.text()) + parseInt($buy_input.val()) + $current);
            } else {
                $total.text(parseInt($total.text()) - (parseInt($buy_input.val()) + Math.abs($amount) + $current));
            }
        }
        
    }
</script>