{% load url from future %}
{% spaceless %}
<tr class="skill {{ tags }}" id="{{ skill.slug }}" data-url="{% url 'condenser_char_buyskill' char_slug=char.slug skill_slug=skill.slug %}">
    <td class="skill-info"><div><span class="skill-name">{{ skill }}</span>
        {% if skill.headers.count %}
            <br>( Headers required: 
                {% for header in skill.headers.all %}
                    {% if forloop.counter > 1 %},&nbsp;{% endif %}{{ header }}
                {% endfor %} )
        {% endif %}
        {% if skill.required_skills.count %}
            <br>( Skills required: 
                {% for req in skill.required_skills.all %}
                    {% if forloop.counter > 1 %},&nbsp;{% endif %}{{ req }}
                {% endfor %} )
        {% endif %}
        </div>
    </td>
    <td class="skill-cost">{{ skill.build_cost }}</td>
    <td>
        {% if "taken" in tags %}
            Bought
        {% else %}
            {% if "missing" not in tags %}
                <a class="btn primary" onclick="buy_skill('{{ skill.slug }}');">Buy</a>
            {% endif %}
        {% endif %}
    </td>
</tr>
{% endspaceless %}
