{% extends 'django_neve/base.html' %}

{% load url from future %}
{% load bootstrap %}

{% block title %}Login{% endblock %}

{% block contents %}
    <div class="span6 left-space-holder">
        &nbsp;
    </div>
    <div class="span6">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-message {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        <a class="close" href="#">×</a>
                        <p><strong>{{ message }}</strong></p>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'django_neve_login' %}">
        <fieldset>
        <legend>Login</legend>
        {{ form|bootstrap }}
        {% csrf_token %}
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="Login"> or <a href="{% url 'django_neve_register' %}">Register</a>.<br><br>Perhaps you forgot your password, in which case, please email <a href="mailto:seconddawnlarp@gmail.com">seconddawnlarp@gmail.com</a> to have a new password set.
        </div>
        </form>
    </div>
{% endblock contents %}